.objs
.update
*.un~
*.dia~
*.swp
tags
bin/*
*.cache
*.swf
*.o
tests/file.in
src/test_keys.sh
src/hydrafs
src/valgrind*
src/core
tests/client_pool_test
tests/http_client_test
Makefile
include/Makefile
src/Makefile
tests/Makefile
src/run.sh
